/*
* General css
*/
body {
	background-color: black;
	color: lime;
	font-family: "Wargames", sans-serif;
	font-size: 25px;
}

/*
* Added a font style for the theme I chose
* it is the font from the movie Wargames
*/

@font-face {
	font-family: "Wargames";
	src: url(../fonts/Wargames.ttf) format("truetype");
	}
	
/*
* Empty spacing for the letters
* used to make a visible representation
* of the available letter amount
*/
	.word-letter {
		border-bottom: 1px solid lime;
		padding: 0px 15px 0px 15px;
		margin: 0px 2px 0px 2px;
	}

/*
 *Blinking Cursor
 *Not programmed by me,
 *ran through a tutorial that showed
 *how to create an effect that shows 
 *as a blinking cursor
 */

.blinking-cursor {
	font-weight: 100;
	font-size: 25px;
	color: #2E3D48;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}
	
@keyframes "blink" {
	from, to {
	  color: transparent;
	}
	50% {
	  color: lime;
	}
}
  
@-moz-keyframes blink {
	from, to {
	  color: transparent;
	}
	50% {
	  color: lime;
	}
}
  
@-webkit-keyframes "blink" {
	from, to {
	  color: transparent;
	}
	50% {
	  color: lime;
	}
}
  
@-ms-keyframes "blink" {
	from, to {
	  color: transparent;
	}
	50% {
	  color: lime;
	}
}
  
@-o-keyframes "blink" {
	from, to {
	  color: transparent;
	}
	50% {
	  color: lime;
	}
}